{% extends 'base.html' %} 
{% load static %}

{% block body %}    
  
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              {% if request.user.user_type == 'hospital' %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Hospital Profile</h4>
                  {% comment %} <p class="card-description">
                    Basic form elements
                  </p> {% endcomment %}
                  <!-- {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %} -->
                  <!-- {% for message in messages %}
                      <div class="alert alert-danger">
                          <p>{{ message }}</p>
                      </div>
                  {% endfor %} -->
                  {% for message in messages %}
                    <div class="alert alert-success">
                      <p>{{message}}</p>
                    </div>
                  {% endfor %}
                  <form action="" method="post" enctype="multipart/form-data" class="forms-sample">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Username</label>
                      <input type="text" name = "username" value="{{ form.username.value }}" class="form-control" id="exampleInputName1" placeholder="Name" >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">First Name</label>
                      <input type="text" name="first_name" value="{{ form.first_name.value }}" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Last Name</label>
                      <input type="text" name="last_name" value="{{ form.last_name.value }}" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Email address</label>
                      <input type="email" name = "email" value="{{ form.email.value }}" disabled class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Address</label>
                      <input type="text" name = "address" value="{{ form.address.value }}" class="form-control" id="exampleInputName1" placeholder="Enter address">
                    </div>
                    {% comment %} <div class="form-group">
                      <label for="exampleInputPassword4">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div> {% endcomment %}
                    {% comment %} <div class="form-group">
                      <label for="exampleSelectGender">Gender</label>
                        <select class="form-control" id="exampleSelectGender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div> {% endcomment %}
                   <div class="form-group">
                      <label>Profile Picture:</label>
                      <input type="file" name="profile_picture" class="" accept="image/*">
                      {% comment %} <input type="file" name="profile_picture" class="file-upload-default" accept="image/*"> {% endcomment %}
                      {% comment %} <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                              <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                      </div> {% endcomment %}
                  </div>

                    {% comment %} <div class="form-group">
                      <label for="exampleInputCity1">City</label>
                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                    </div> {% endcomment %}
                    <div class="form-group">
                      <label for="exampleInputPhone">Phone Number</label>
                      <input type="text" name="phone" value="{{ form.phone.value }}" class="form-control" id="exampleInputPhone" placeholder="Enter phone number">
                    </div>                  
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
              {% elif request.user.user_type == 'patients' %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Patients Profile</h4>
                  {% comment %} <p class="card-description">
                    Basic form elements
                  </p> {% endcomment %}
                  <!-- {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %} -->
                  {% for message in messages %}
                      <div class="alert alert-danger">
                          <p>{{ message }}</p>
                      </div>
                  {% endfor %}
                  <form action="" method="post" enctype="multipart/form-data" class="forms-sample">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Username</label>
                      <input type="text" name = "username" value="{{ form.username.value }}" class="form-control" id="exampleInputName1" placeholder="Name" >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">First Name</label>
                      <input type="text" name="first_name" value="{{ form.first_name.value }}" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Last Name</label>
                      <input type="text" name="last_name" value="{{ form.last_name.value }}" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Email address</label>
                      <input type="email" name = "email" value="{{ form.email.value }}" disabled class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Address</label>
                      <input type="text" name = "address" value="{{ form.address.value }}" class="form-control" id="exampleInputName1" placeholder="Enter address">
                    </div>
                    {% comment %} <div class="form-group">
                      <label for="exampleInputPassword4">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div> {% endcomment %}
                    {% comment %} <div class="form-group">
                      <label for="exampleSelectGender">Gender</label>
                        <select class="form-control" id="exampleSelectGender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div> {% endcomment %}
                   <div class="form-group">
                      <label>Profile Picture:</label>
                      <input type="file" name="profile_picture" class="" accept="image/*">
                      {% comment %} <input type="file" name="profile_picture" class="file-upload-default" accept="image/*"> {% endcomment %}
                      {% comment %} <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                              <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                      </div> {% endcomment %}
                  </div>

                    {% comment %} <div class="form-group">
                      <label for="exampleInputCity1">City</label>
                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                    </div> {% endcomment %}
                    <div class="form-group">
                      <label for="exampleInputPhone">Phone Number</label>
                      <input type="text" name="phone" value="{{ form.phone.value }}" class="form-control" id="exampleInputPhone" placeholder="Enter phone number">
                    </div>                  
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
              {% else %}
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Patients Profile</h4>
                    {% comment %} <p class="card-description">
                      Basic form elements
                    </p> {% endcomment %}
                    <!-- {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %} -->
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                    <form action="" method="post" enctype="multipart/form-data" class="forms-sample">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Username</label>
                        <input type="text" name = "username" value="{{ form.username.value }}" class="form-control" id="exampleInputName1" placeholder="Name" >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">First Name</label>
                        <input type="text" name="first_name" value="{{ form.first_name.value }}" class="form-control" id="exampleInputName1" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Last Name</label>
                        <input type="text" name="last_name" value="{{ form.last_name.value }}" class="form-control" id="exampleInputName1" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="email" name = "email" value="{{ form.email.value }}" disabled class="form-control" id="exampleInputEmail3" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Address</label>
                        <input type="text" name = "address" value="{{ form.address.value }}" class="form-control" id="exampleInputName1" placeholder="Enter address">
                      </div>
                      {% comment %} <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                      </div> {% endcomment %}
                      {% comment %} <div class="form-group">
                        <label for="exampleSelectGender">Gender</label>
                          <select class="form-control" id="exampleSelectGender">
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div> {% endcomment %}
                    <div class="form-group">
                        <label>Profile Picture:</label>
                        <input type="file" name="profile_picture" class="" accept="image/*">
                        {% comment %} <input type="file" name="profile_picture" class="file-upload-default" accept="image/*"> {% endcomment %}
                        {% comment %} <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                        </div> {% endcomment %}
                    </div>

                      {% comment %} <div class="form-group">
                        <label for="exampleInputCity1">City</label>
                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                      </div> {% endcomment %}
                      <div class="form-group">
                        <label for="exampleInputPhone">Phone Number</label>
                        <input type="text" name="phone" value="{{ form.phone.value }}" class="form-control" id="exampleInputPhone" placeholder="Enter phone number">
                      </div>                  
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>

{% endblock %}